@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --back: hsl(0, 0%, 10%);
  --prim: hsl(350, 65%, 45%);
  --second: hsl(0, 0%, 98%);
}

html {
  background-color: var(--back);
  color: var(--second);
}

header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.logo h1 {
  font-family: "DM Sans", sans-serif;
  display: inline-block;
  font-size: 3rem;
  letter-spacing: -0.6rem;
}

.name {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 0.5rem 0 0 1rem;
}

.logo img {
  height: 3rem;
}
.social {
  padding: 0 0 0 11rem;
  list-style: none;
}

.mail,
.github,
.twitter {
  fill: var(--second);
  margin-right: 0.5rem;
  width: 1.25rem;
  height: 1.25rem;
}

.mail:hover,
.github:hover,
.twitter:hover {
  fill: var(--prim);
}
